body {
  overflow-y: scroll;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}
#root,
html,
body{
  background-color: #f5f5ff;
  box-sizing: border-box;
}
div, h1, h2, h3, h4, h5, header, html, i, image, label, nav, p, small, span, ul{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

.pt-0{
  padding-top: 0px !important;
}
.ml-1{
  margin-left: 10px;
}
.ml-2{
  margin-left: 20px;
}
.ml-3{
  margin-left: 30px;
}
.ml-4{
  margin-left: 40px;
}
.ml-auto{
  margin-left: auto;
}
.mt{
  margin-top: 40px;
}
.mt-1{
  margin-top: 10px;
}
.mt-2{
  margin-top: 20px;
}
.mt-3{
  margin-top: 30px;
}


.float-right{
  float: right;
}
.float-left{
  float: left;
}
.container{
  padding: 10px 60px;
}
.display-flex{
  display: flex;
}
.ss_heading{
  color: #2977C9 !important;
  font-size: 3rem !important;
}
.text-primary{
  color: #2977C9 !important;
}
.text-center{
  text-align: center !important;
}
.text-dark{
  color: rgba(0, 0, 0, 0.699) !important;
}
.p-0{
  padding: 0px !important;
}
.btn-primary{
  color: #0A66C2;
  border-color: #0A66C2;
  font-size: 1rem;
  padding-top: 10px !important;
  padding-bottom: 30px !important;
  line-height: 20px;
  padding: 0 24px;
}
.btn-j{
  font-size: 1rem;
  padding-top: 10px !important;
  padding-bottom: 30px !important;
  line-height: 20px;
  padding: 0 24px;
}

/*Home page Header*/
.menu{
  background-color: transparent !important;
  border-bottom: none !important;
}
.bg-white{
  background-color: #fff;
}
.search_bar{
  width: 50% !important;
  padding: 5px;
  margin-left: 20px;
}
/*leftside*/
.photo-upload{
  background-color: #fff;
  margin-top: -80px;
}
/*POST MODEL*/
.model{
  height: 250px;
  overflow: auto;
}
.model-icon{
  font-size: 1.6em;
  cursor: pointer;
}
.ant-upload-list{
  margin-top: -35px;
    margin-right: 25px;
}
@media (max-width: 767px){
  .container{
    padding: 10px 20px;
  }
  .logo{
    width: 100px;
  }
  .btn-primary, .btn-j{
    font-size: .8rem;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    line-height: 20px;
  }
  .ss_heading{
    font-size: 2rem !important;
  }
  .hero_col_2{
    margin-top: 30px !important;
  }
  /*Home Page Header*/
  .search_bar{
    width: 70% !important;
  }
}
@media (max-width: 992px){
  .ss_heading{
    font-size: 2rem !important;
  }
}